<% var data = {
    title: "Дек Мастер",
  }; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<div class="main">
  <%= _.template(require('./../includes/section1.html'))() %>
  <%= _.template(require('./../includes/section2.html'))() %>
  <%= _.template(require('./../includes/section3.html'))() %>
  <%= _.template(require('./../includes/section4.html'))() %>
  <%= _.template(require('./../includes/section5.html'))() %>
</div>


<%= _.template(require('./../includes/footer.html'))(data) %>
