<% var data = {
    title: "Дек Мастер",
  }; %>
<%= _.template(require('./../includes/header.html'))(data) %>


<div class="main">
  <%= _.template(require('./../includes/section1.html'))() %>
  <%= _.template(require('./../includes/section2.html'))() %>
  <%= _.template(require('./../includes/section3.html'))() %>
  <%= _.template(require('./../includes/section4.html'))() %>
  <%= _.template(require('./../includes/section5.html'))() %>
  <%= _.template(require('./../includes/section6.html'))() %>
  <%= _.template(require('./../includes/section7.html'))() %>
  <%= _.template(require('./../includes/section8.html'))() %>
  <%= _.template(require('./../includes/section9.html'))() %>
  <%= _.template(require('./../includes/section10.html'))() %>
  <%= _.template(require('./../includes/section11.html'))() %>
</div>

<%= _.template(require('./../includes/modals.html'))() %>
<%= _.template(require('./../includes/footer.html'))(data) %>

