$font-stack: -apple-system,
BlinkMacSystemFont,
Roboto,
'Open Sans',
'Helvetica Neue',
sans-serif;
//BOOSTRAP
@import "~bootstrap/scss/bootstrap";
// SLICK
@import "~slick-carousel/slick/slick";
// SLICK THEME
@import "~slick-carousel/slick/slick-theme";

@import "import_font_sourcesanspro";
@import "custom_mixins";

//@font-face {
//  font-family: 'Roboto';
//  font-style: normal;
//  font-weight: 400;
//  src: url(../fonts/Roboto-Regular.ttf);
//}
@import "btn";
@import "modals";

body {
    font-family: $font-stack;
}

h1 {
    color: #010101;
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-weight: 700;
}

span {
    color: #9e9e9e;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 300;

    &.small {
        font-size: 16px;
        font-weight: 300;
    }
}

.main {
    max-width: 1900px;
    width: 100%;
    margin: 0 auto;
}

#footer {
    @extend .main;
}

body>header {
    @extend .main;
}

.container-mainmenu {
    border-bottom: 1px solid #c2af9a;
}

.navbar.mainmenu {
    padding: 0.4rem 1rem;
}

.top-navigation {
    &>.nav-item {
        margin: 0.8em 1.2em;
        color: #cccccc;

        &>a {
            font-family: "Source Sans Pro";
            font-size: 16px;
            font-weight: 300;
            color: inherit;
        }

        &.active {
            color: #c2af9a;
        }
    }
}

.logo {
    max-width: 177px;
    max-height: 49px;
    margin-right: 26px;
}

.logo-image {
    width: 100%;
    height: 100%;
}

.logo-text {
    width: 202px;
    height: 47px;
    color: #000000;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 300;
    line-height: 1rem;
}

.logo-info-panel {
    color: #c2ae97;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 300;
    text-align: right;
    line-height: 2rem;
}

.logo-phone {
    color: #c2ae97;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 700;
}

.logo-information {
    line-height: 1rem;
}

.logo-button {
    margin-bottom: -0.9rem;

    &>.btn {
        min-width: 231px;
        min-height: 29px;
    }
}


#offer-1 {
    background-image: url('../img/terrace_wood.png');
    background-position: left;
    height: 552px;
    width: 100%;
    background-repeat: no-repeat;
}

.offer-1-text-wrap {
    margin-top: 77px;
    margin-bottom: 35px;
    border: 10px solid #f0f0f0;
    min-width: 727px;
    min-height: 270px;
    padding: 38px 0 0 73px;
    background-color: #ffffff;

    & .offer-1-h {
        color: #000000;
        font-family: "Source Sans Pro";
        font-size: 35px;
        font-weight: 700;
    }

    & .offer-1-descr {
        color: #9e9e9e;
        font-family: "Source Sans Pro";
        font-size: 24px;
        font-weight: 300;
        line-height: 1;
    }
}

.offer-1-form {
    padding: 0 37px 0 37px;

    & .btn {
        height: 41px;
        width: 417px;

        &:before {
            height: 41px;
            box-shadow: 0px 10px 21px 1px #ff330059;
        }

        &:active {
            top: 4px;

            &:before {
                top: 0;
                box-shadow: 0 8px 10px 1px #ff330059;
            }
        }
    }
}

.offer-1-garanty {
    align-self: flex-end;
    padding-bottom: 9%;
}

.offer-1-form-input {
    height: 48px;
    color: #8a8a8a;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    padding: 0 7px;
    border: none;
    border-radius: 3px;
    box-shadow: inset 1px 3px 2px rgba(230, 230, 230, 0.64), inset 0 0 3px rgba(223, 223, 223, 0.82);
    background-color: #ffffff;
}

.offer-1-form-input::-webkit-input-placeholder {
    color: #c8c8c8;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
}

/* WebKit, Blink, Edge */
.offer-1-form-input:-moz-placeholder {
    color: #c8c8c8;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
}

/* Mozilla Firefox 4 to 18 */
.offer-1-form-input::-moz-placeholder {
    color: #c8c8c8;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
}

/* Mozilla Firefox 19+ */
.offer-1-form-input:-ms-input-placeholder {
    color: #c8c8c8;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
}

/* Internet Explorer 10-11 */
.offer-1-form-input::-ms-input-placeholder {
    color: #c8c8c8;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
}

.offer-1-form-input-text {
    margin-top: 19px;
    width: 100%;
    margin-bottom: 75px;
    text-align: center;

    span {
        color: #c2ae97;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
    }
}

.section-2-blur-bg {
    background-image: url('../img/section-2-blur-bg.png');
    background-size: cover;
    width: 100%;
    min-height: 791px;
}

.section-2-wood {
    background-image: url('../img/wood_terrace.png');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
}

.section-2-header {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    padding: 84px 0 59px 0;

    & h1 {
        color: inherit;
    }
}

.of-h {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.3;
}

.of-d {
    color: #c2ae97;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 39px;
    line-height: 1.5em;
}

@include media-breakpoint-up(md) {
    .section-2-col-30 {
        flex: 0 0 30% !important;
        max-width: 30% !important;
    }

    .section-2-col-70 {
        flex: 0 0 70% !important;
        max-width: 70% !important;
    }

    .section-2-garanty {
        position: absolute;
        bottom: 18%;
        right: 42%;
    }
}

@include media-breakpoint-down(sm) {
    .section-2-header {
        text-align: center;
    }

    .of-h {
        text-align: center;
    }

    .of-d {
        text-align: center;
    }

    .section-2-col-30 {}

    .section-2-col-70 {}

    .section-2-garanty {
        position: relative;
        text-align: center;
    }
}

#section-3 {
    min-height: 307px;
}

.section-3-bg {
    background: url(../img/not_buty.png) no-repeat, url(../img/2560x1440-No-Lighting.png) no-repeat;
    background-size: 50.001% 100%;
    background-position: left top, right top;
}

.section-3-wrap {
    padding-top: 63px;
    padding-bottom: 74px;
}

.section-3-diff {
    background-color: #FFFFFF;
    border-radius: 10px;
}

.section-3-header {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.section-3-diff-1 {
    padding: 48px 52px 41px 77px;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    overflow: hidden;
    display: inline-block;
    color: transparent;

    & span {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 900;
        background: url(../img/not_buty.png) -26% -20px repeat;
        background-size: 70vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: block;
    }
}

.section-3-diff-2 {
    border-left: 1px solid #000000;
    padding: 48px 32px 41px 32px;
    text-transform: uppercase;
    font-size: 2.5em;
    font-weight: 900;
    overflow: hidden;
    display: inline-block;
    color: transparent;

    & span {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-weight: 900;
        background: url(../img/2560x1440-No-Lighting.png) 6% -20px repeat;
        background-size: 50vw;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        display: block;
    }
}

.section-4-wrapper {
    padding-top: 156px;
    padding-bottom: 145px;
}

.seection-4-header {
    text-align: center;
    width: 100%;
    margin-bottom: 64px;

    & h1 {
        color: #000000;
        font-family: "Source Sans Pro";
        font-size: 35px;
        font-weight: 700;
    }
}

.section-4-form {
    padding: 0 33px;

    & .btn-l {
        width: 372px;
    }

    & form>* {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.offer-4-form-input {
    @extend .offer-1-form-input;
}

.styled-input {
    @extend .offer-1-form-input;
}

.section-5-slide {
    height: 556px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-5-head {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 120px;
    font-weight: 700;
    line-height: 1;
}


.section-5-head-small {
    font-size: 60px;
    font-family: "Roboto";
    color: #ffffff;
    font-weight: 700;
    line-height: 1;
}
.section-5-head-ultrasmall{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.section-5-tx-1 {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 35px;
    font-weight: 300;
    line-height: 1;
}

.section-5-tx-2 {
    @extend .section-5-tx-1;
    font-size: 24px;
    line-height: 1;
}

.section-5-slides-wrap {
    height: 177px;
}

.section-5-slider-image-wrap {
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

#footer {
    height: 264px;
    // background-color: #ffffff;
}


.footer-wrapper {
    padding-top: 36px;
    padding-bottom: 95px;
    color: #c2ae97;
    font-family: "Source Sans Pro";
    font-size: 14px;
    font-weight: 300;

    span {
        color: #c2ae97;
        font-family: "Source Sans Pro";
        font-size: 14px;
        font-weight: 300;
    }

    .yellow_link {
        color: #ffc515;
        cursor: pointer;
        font-size: 14px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-side-col {
    padding-top: 29px;
    text-align: left;
}

.footer-side-col-m {
    text-align: center;

    & .footer-phone {
        color: #c2ae97;
        font-family: "Source Sans Pro";
        font-size: 24px;
        font-weight: 700;
        line-height: 1.5;
        margin-bottom: 8px;
    }
}

.footer-side-col-r {
    padding-top: 29px;
    text-align: right;

    &>div {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.map {
    width: 100%;
    height: 538px;
    background-size: cover;
}

.section-11-how-find-us {
    position: absolute;
    z-index: 2000;
    width: 313px;
    height: 224px;
    background-color: #ffffff;
    top: 116px;
    left: 170px;
    bottom: 198px;
    padding: 45px 70px;

    & .section-11-head {
        color: #010101;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-bottom: 15px
    }

    & .section-11-cont {
        color: #9e9e9e;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
    }
}

.section-6-wrapper {
    padding-top: 116px;
    padding-bottom: 132px;
}

.section-6-variants-wrapper {
    margin-top: 94px;
    margin-bottom: 233px;
}

.variant-6 {
    width: 217px;
    height: 283px;
    background-color: #f0f0f0;
    transition: background-color 450ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: #fbfbfb;
    }
}

.variant-6__image {
    flex-grow: 1;
    display: flex;
    justify-content: center;

    & img {
        align-self: center;

        &.variant-6__image_topleft {
            align-self: flex-start;
        }
    }

    &.variant-6__image_topleft {
        justify-content: flex-start;
    }
}

.variant-6__header {
    color: #000000;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    height: 33px;
    margin-bottom: 7px;
    padding: 0 36px 0 36px;
    line-height: 1;
    display: flex;
    align-items: flex-end;
}

.variant-6__link {
    padding: 0 36px 0 36px;
    color: #9e9e9e;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    padding-bottom: 44px;
}

.variant-6-bottom-text {
    color: #c2ae97;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 29px;
}

.variant-6-bottom-btn {
    width: 372px;
}

.section-6-book-image {
    position: absolute;
    bottom: -12%;
    right: 0;
    width: 855px;
    height: 643px;
    background-image: url(../img/book.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    z-index: -1;
}

#section-7 {
    color: #FFFFFF;
    background: url('../img/section-7-bg.png') no-repeat, black;
    background-size: cover;
    padding: 82px 0 19px 0;
    min-height: 517px;

    & h1 {
        color: inherit;
    }

    & span {
        color: inherit;
    }
}

.section-7-head {
    margin-bottom: 65px;
}

.section-7-links-1 {
    &>div:nth-child(2) {
        margin-left: 102px;
        margin-right: 68px;
    }
}

.section-7-links-2 {
    &>div:nth-child(2) {
        margin-left: 114px;
        margin-right: 115px;
    }
}

.section-7-links-3 {
    &>div:nth-child(2) {
        margin-left: 137px;
        margin-right: 96px;
    }
}

.section-7-links {
    & a {
        color: #6f6f6f;
        font-family: "Source Sans Pro";
        font-size: 16px;
        font-weight: 300;
        text-decoration: underline;
        text-transform: uppercase;
    }

    &>div {
        margin-bottom: 68px;
    }
}

#section-8 {
    background: url("../img/section-8-bg.png") no-repeat;
    background-size: cover;
    min-height: 649px;
    padding: 78px 0 90px 0;
    color: #FFFFFF;

    & h1 {
        color: inherit;
    }
}

.btn-wrap {
    position: relative;
    z-index: 0;
}

.section-8-head {
    margin-top: 25px;

    h1 {
        margin-bottom: 25px;
    }

    .btn {
        width: 597px;
    }
}

#section-9 {
    background: url("../img/section-9-bg.png") no-repeat;
    background-size: cover;
    min-height: 446px;
    padding: 156px 0 156px 0;
    color: #FFFFFF;

    h1,
    span {
        color: inherit;
    }

    span {
        line-height: 1;
    }
}

#section-10 {
    padding-top: 107px;
    // padding-bottom: 128px;
}

.section-10-header {
    h1 {
        margin: 0;
    }
}

.section-10-price-text {
    color: #c2ae97;
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-weight: 300;
    padding-top: 44px;
    padding-bottom: 50px;
}

.section-10-btn {
    .btn {
        width: 384px;
    }

}

.quiz_wrapper {}

.quiz_mask {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: visible;

    &::-webkit-scrollbar {
        display: none;
    }

    .quiz_item {
        flex: 0 0 auto;
        padding-bottom: 128px;
        width: 100%;
        transition: margin 1s;
    }

    .quiz_item-form>input {
        margin-right: 16px;
    }
}

.styled_radiobox {

    /* label */
    label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;

        margin: 12px 0;

        cursor: pointer;
        position: relative;
    }


    /* input */
    input {
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }


    /* .design */
    .design {
        width: 14px;
        height: 14px;

        border: 1px solid #9e9e9e;
        border-radius: 100%;
        margin-right: 14px;
        box-sizing: content-box;
        position: relative;
    }

    .design::before {
        content: " ";
        display: block;

        width: inherit;
        height: inherit;

        border-radius: inherit;

        position: absolute;
        transform: scale(0);
        transform-origin: center center;
    }

    .design:before {
        background: #ffc515;
        opacity: 0;
        transition: .3s;
    }

    .design::after {
        background-color: #9e9e9e;
        opacity: .4;
        transition: .6s;
    }


    /* .text */
    .text {
        color: #9e9e9e;
        font-family: "Source Sans Pro";
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
    }


    /* checked state */
    input:checked+.design::before {
        opacity: 1;
        transform: scale(.6);
    }


    /* other states */
    input:hover+.design,
    input:focus+.design {
        border: 1px solid #9e9e9e;
    }

    input:hover+.design:before {
        background: #ffc515;
    }

}




.custom-article {
    transition: background-color 450ms ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:hover {
        background-color: #fbfbfb;
    }

    &.active {
        outline: 10px solid #e4ccb1;
        outline-offset: -10px;
    }

    .custom-article__bottom {
        padding: 0 25px;

        &>h2 {
            color: #000000;
            font-family: "Source Sans Pro";
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            height: 33px;
            margin-bottom: 7px;
            line-height: 1;
            display: flex;
            align-items: flex-end;
        }

        &>p {
            color: #9e9e9e;
            font-family: "Source Sans Pro";
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            padding-bottom: 44px;

            &>button {
                background: none !important;
                color: inherit;
                border: none;
                padding: 0 !important;
                font: inherit;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.custom-article__image {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    overflow: hidden;

    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left top;
        align-self: center;

        &.custom-article__image_topleft {
            align-self: flex-start;
        }
    }

    &.custom-article__image_topleft {
        justify-content: flex-start;
    }
}
.shadow{
    @extend .btn-l:before;
}

.color-palette{
    display: flex;
    width: 100%;
    justify-content: space-around;
    &>div{
        width: 39px;
        height: 11px;
    }
}
.slick-slider{
    overflow: hidden;
}
.slick-slide img{
    display: block;
    object-fit: cover;
    width: 101% !important;
    height: 177px;
}
.inline-form-inputs>input{
    margin-right: 16px;
}
.footer_show_more_text{
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    bottom: 40px;
    right: 10px;
    display: block;
    block-size: fit-content;
}

// .slick-slider .slick-track,
// .slick-slider .slick-list {
//     -webkit-transform: translate3d(0, 0, 0) !important;
//     -moz-transform: translate3d(0, 0, 0) !important;
//     -ms-transform: translate3d(0, 0, 0) !important;
//     -o-transform: translate3d(0, 0, 0) !important;
//     transform: translate3d(0, 0, 0) !important;
// }
.slider-nav .slick-list{
    width: 100vw !important;
    .slick-slide{
        width: 25%;
    }
}
.slider-nav .slick-track{
    width: 100vw !important;
    transform: translate3d(0, 0, 0) !important;
}
@import "mobile_style.css";